absl-py                      2.1.0
accelerate                   0.27.2
addict                       2.4.0
aiofiles                     23.2.1
aiohttp                      3.9.3
aiosignal                    1.3.1
aist-plusplus-api            1.1.0
aliyun-python-sdk-core       2.15.2
aliyun-python-sdk-kms        2.16.5
aniposelib                   0.3.9
annotated-types              0.6.0
antlr4-python3-runtime       4.9.3
anyio                        4.4.0
appdirs                      1.4.4
argcomplete                  3.4.0
argunparse                   0.1.4
arrow                        1.3.0
astunparse                   1.6.3
async-timeout                4.0.3
attrs                        23.2.0
audiolm-pytorch              2.0.7
audioread                    3.0.1
basicsr                      1.4.2
beartype                     0.17.2
beautifulsoup4               4.12.3
bert-score                   0.3.13
bitarray                     2.9.2
blessed                      1.20.0
blis                         0.7.11
blobfile                     2.1.1
boilerplates                 1.1.1
boto3                        1.35.36
botocore                     1.35.36
bps-torch                    0.1
bvh                          0.3
cachetools                   5.3.3
catalogue                    2.0.10
certifi                      2024.2.2
cffi                         1.16.0
chamfer-distance             0.1
chamferdist                  1.0.3
charset-normalizer           3.3.2
chumpy                       0.70
click                        8.1.7
clip                         1.0
cloudpathlib                 0.16.0
cmake                        3.28.3
colorama                     0.4.6
coloredlogs                  15.0.1
colorlog                     6.8.2
confection                   0.1.4
contourpy                    1.1.1
crcmod                       1.7
croniter                     1.3.15
cryptography                 43.0.1
cycler                       0.12.1
cymem                        2.0.8
Cython                       3.0.8
datasets                     2.17.1
dateutils                    0.6.12
decorator                    5.1.1
deepdiff                     7.0.1
dict-recursive-update        1.0.1
diffusers                    0.29.2
dill                         0.3.8
docker-pycreds               0.4.0
easydict                     1.13
editor                       1.6.6
einops                       0.7.0
einx                         0.1.3
ema-pytorch                  0.4.2
en-core-web-sm               3.0.0
encodec                      0.1.2a3
essentia                     2.1b6.dev1110
exceptiongroup               1.2.2
fairseq                      0.12.2
faiss-gpu                    1.7.2
fastapi                      0.88.0
ffmpeg                       1.4
ffmpeg-python                0.2.0
ffmpy                        0.4.0
filelock                     3.14.0
fire                         0.1.3
flatbuffers                  24.3.25
fonttools                    4.49.0
freetype-py                  2.4.0
frozendict                   2.4.0
frozenlist                   1.4.1
fsspec                       2023.10.0
ftfy                         6.1.3
future                       1.0.0
fvcore                       0.1.5.post20221221
gast                         0.4.0
gateloop-transformer         0.2.4
gcustat                      0.0.7
gdown                        5.2.0
gitdb                        4.0.11
GitPython                    3.1.42
google-auth                  2.28.1
google-auth-oauthlib         1.0.0
google-pasta                 0.2.0
gradio                       4.41.0
gradio_client                1.3.0
grpcio                       1.62.0
h11                          0.14.0
h5py                         3.10.0
httpcore                     1.0.5
httpx                        0.27.0
huggingface-hub              0.24.5
human-body-prior             2.2.2.0
humanfriendly                10.0
hydra-core                   0.11.3
idna                         3.6
imageio                      2.34.0
imageio-ffmpeg               0.4.9
importlib-metadata           7.0.1
importlib-resources          6.1.1
info-nce-pytorch             0.1.4
inquirer                     3.4.0
iopath                       0.1.10
itsdangerous                 2.2.0
Jinja2                       3.1.3
jmespath                     0.10.0
joblib                       1.3.2
json-tricks                  3.17.3
jsonpatch                    1.33
jsonpointer                  3.0.0
jukebox                      1.0
jukemirlib                   0.0.0
keras                        2.13.1
kiwisolver                   1.4.5
langcodes                    3.3.0
lazy_loader                  0.3
libclang                     18.1.1
librosa                      0.9.2
lightning                    2.0.1
lightning-cloud              0.5.70
lightning-utilities          0.10.1
lion-pytorch                 0.1.2
lit                          17.0.6
llvmlite                     0.41.1
lmdb                         1.5.1
local-attention              1.9.0
lxml                         4.9.4
Markdown                     3.5.2
markdown-it-py               3.0.0
MarkupSafe                   2.1.5
matplotlib                   3.1.3
mdurl                        0.1.2
mmcv                         2.1.0
mmdet                        3.2.0
mmengine                     0.10.4
mmpose                       1.3.2
model-index                  0.1.11
mpi4py                       3.1.5
mpmath                       1.3.0
msgpack                      1.0.7
multidict                    6.0.5
multiprocess                 0.70.16
munkres                      1.1.4
murmurhash                   1.0.10
musiclm-pytorch              0.2.8
mypy-extensions              1.0.0
natsort                      8.4.0
networkx                     3.1
ninja                        1.11.1.1
noisereduce                  3.0.0
numba                        0.58.1
numpy                        1.23.0
nvidia-cublas-cu11           11.10.3.66
nvidia-cublas-cu12           12.1.3.1
nvidia-cuda-cupti-cu11       11.7.101
nvidia-cuda-cupti-cu12       12.1.105
nvidia-cuda-nvrtc-cu11       11.7.99
nvidia-cuda-nvrtc-cu12       12.1.105
nvidia-cuda-runtime-cu11     11.7.99
nvidia-cuda-runtime-cu12     12.1.105
nvidia-cudnn-cu11            8.5.0.96
nvidia-cudnn-cu12            8.9.2.26
nvidia-cufft-cu11            10.9.0.58
nvidia-cufft-cu12            11.0.2.54
nvidia-curand-cu11           10.2.10.91
nvidia-curand-cu12           10.3.2.106
nvidia-cusolver-cu11         11.4.0.1
nvidia-cusolver-cu12         11.4.5.107
nvidia-cusparse-cu11         11.7.4.91
nvidia-cusparse-cu12         12.1.0.106
nvidia-nccl-cu11             2.14.3
nvidia-nccl-cu12             2.19.3
nvidia-nvjitlink-cu12        12.3.101
nvidia-nvtx-cu11             11.7.91
nvidia-nvtx-cu12             12.1.105
oauthlib                     3.2.2
omegaconf                    1.4.1
onnxruntime                  1.18.1
open_clip_torch              2.26.1
opencv-python                4.9.0.80
opendatalab                  0.0.10
openmim                      0.3.9
openxlab                     0.1.1
opt_einsum                   3.4.0
ordered-set                  4.1.0
orjson                       3.10.7
oss2                         2.17.0
p-tqdm                       1.4.2
packaging                    24.1
pandas                       2.0.3
pathlib_abc                  0.1.1
pathos                       0.3.2
pathy                        0.11.0
pillow                       10.2.0
pip                          23.3.1
platformdirs                 4.2.0
pointnet2                    3.0.0
pointnet2-ops                3.0.0
pooch                        1.8.1
portalocker                  2.8.2
pox                          0.3.4
ppft                         1.7.6.8
preshed                      3.0.9
prettytable                  3.10.2
protobuf                     3.20.0
psbody-mesh                  0.3
psutil                       5.9.8
pyarrow                      15.0.0
pyarrow-hotfix               0.6
pyasn1                       0.5.1
pyasn1-modules               0.3.0
pycocotools                  2.0.7
pycparser                    2.21
pycryptodome                 3.20.0
pycryptodomex                3.20.0
pydantic                     1.10.18
pydantic_core                2.20.1
pydub                        0.25.1
pyglet                       2.0.16
Pygments                     2.17.2
PyJWT                        2.9.0
PyOpenGL                     3.1.4
pyparsing                    3.1.1
pyrender                     0.1.45
PySocks                      1.7.1
python-dateutil              2.8.2
python-multipart             0.0.9
pytorch-lightning            1.8.4
pytorch-warmup               0.1.1
pytorch3d                    0.7.7
pytz                         2023.4
PyWavelets                   1.4.1
PyYAML                       6.0.1
pyzmq                        26.0.3
readchar                     4.2.0
regex                        2023.12.25
requests                     2.28.2
requests-oauthlib            1.3.1
resampy                      0.4.2
rich                         13.4.2
rotary-embedding-torch       0.5.3
rsa                          4.9
ruff                         0.5.7
runs                         1.2.2
s3transfer                   0.10.3
sacrebleu                    2.4.0
safetensors                  0.4.2
scikit-image                 0.21.0
scikit-learn                 1.3.2
scipy                        1.10.1
semantic-version             2.10.0
semver                       3.0.2
sentence-transformers        3.0.1
sentry-sdk                   1.40.5
setproctitle                 1.3.3
setuptools                   60.2.0
shapely                      2.0.6
shellingham                  1.5.4
six                          1.16.0
smart-open                   6.4.0
smmap                        5.0.1
smplx                        0.1.26
sniffio                      1.3.1
SoundFile                    0.10.3.post1
soupsieve                    2.5
soxr                         0.3.7
spacy                        3.0.9
spacy-legacy                 3.0.12
spacy-loggers                1.0.5
srsly                        2.4.8
starlette                    0.22.0
starsessions                 1.3.0
sympy                        1.12
tabulate                     0.9.0
tb-nightly                   2.14.0a20230808
tensorboard                  2.13.0
tensorboard-data-server      0.7.2
tensorboardX                 2.6.2.2
tensorflow                   2.13.1
tensorflow-estimator         2.13.0
tensorflow-io-gcs-filesystem 0.34.0
termcolor                    2.4.0
terminaltables               3.1.10
thinc                        8.0.17
threadpoolctl                3.3.0
tifffile                     2023.7.10
timm                         0.9.16
tokenizers                   0.15.2
toml                         0.10.2
tomli                        2.0.1
tomlkit                      0.12.0
torch                        2.0.0
torch_cluster                1.6.3+pt22cu121
torchaudio                   2.0.1
torchgeometry                0.1.2
torchlibrosa                 0.1.0
torchmetrics                 1.3.1
torchsummary                 1.5.1
torchvision                  0.15.1+cu117
tornado                      6.4.1
tqdm                         4.66.5
traitlets                    5.14.3
transformers                 4.39.0.dev0
transforms3d                 0.4.2
trimesh                      4.1.4
triton                       2.0.0
typer                        0.12.3
types-python-dateutil        2.9.0.20241003
typing_extensions            4.5.0
typing-inspect               0.8.0
tzdata                       2023.4
Unidecode                    1.1.1
urllib3                      1.26.20
uvicorn                      0.30.5
vector_quantize_pytorch      1.14.1
version-query                1.5.5
visdom                       0.2.4
wandb                        0.16.6
wasabi                       0.10.1
wcwidth                      0.2.13
weasel                       0.3.4
websocket-client             1.8.0
websockets                   11.0.3
Werkzeug                     3.0.1
wget                         3.2
wheel                        0.41.2
wrapt                        1.16.0
x-clip                       0.14.4
xlrd                         2.0.1
xmod                         1.8.1
xtcocotools                  1.14.3
xxhash                       3.4.1
yacs                         0.1.8
yapf                         0.40.2
yarl                         1.9.4
zipp                         3.17.0